.mov {
    color:white;
    margin-top:10px;
    margin-bottom: 0;
}


.Checkbox {
    display: flex;
    flex-direction: row;
   
   
}

.req {
    font-size: x-small;
    position: relative;
    right: 90px;
    top:20px;
}


.reqPass {
    font-size: x-small;
    position: relative;
    right: 65px;
    top:20px;
}

.reqPass2 {
    font-size: x-small;
    position: relative;
    right: 60px;
    top:20px;
}

.coverPage {
    min-height: 540px;
}
.searchButtonPos {
    margin-right: 600px;
    margin-top: -23px;
}

.faSearch {
    cursor: pointer;
}