.individual {
    height:30px;
    width:800px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* padding-left: 10px; */
    
}

.pastOrders {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin: 20px;
    color: white;
    background-color: #2D3639;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:20px;
}

h3 {
    color:white;
}

.definition {
    /* background-color:white; */
    color:black;
    width:90px;
    border-right: 1px solid black;
   
   
}

.definition2 {
    /* background-color:white; */
    color:black;
    width:170px;
    border-right: 1px solid black;
    border-left: 1px solid black;
   
}

.definition3 {
    /* background-color:white; */
    color:black;
    width:90px;
    border-right: 1px solid black;
    border-left: 1px solid black;
   
}

.response {
    width:150px;
}

.response2 {
    width:310px;
}

h1 {
    color:white;
}

label {
    color:white;
    margin:10px;
}

.passW {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #2D3639;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding:10px;
    align-self: center;
    
    
}

.profile-container {
    color:#434169;
    width: 400px; 
    height: 480px;
    margin: auto;
    margin-top: 0;

    /* height: 260px; */
  /* position: absolute; */
    background: #DCD5CB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: 'Signika', sans-serif;
    border-radius: 16px;



    display: flex;
    flex-direction: column;
    align-self: center; 
}

/* .edit {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 10px;
} */

.editButton {
   
    color:white;
    cursor:pointer;
 align-self: flex-end;
 margin-right: 10px;
 margin-top: 10px;
}

.editButton:hover {
    color:#434169;
    cursor:pointer;
}


.profileModal {
    width:200px;
    background-color: aqua;
    transform: translate(50vw,-70vh);
}
.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DCD5CB;
    border-radius: 10px;
    height:600px;
    width:600px;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }


.modal-title {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color:#434169;
}

.modal-content {
    border-radius: 10px;
}

.inputReprise {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .modal-footer {
    align-items: center;
    text-align: center;
  }

  .containerReprise {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .background {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
    width:540px;
    color:#434169;
    padding:10px;
    font-family: 'Signika', sans-serif;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 0;
  }

  .profileShow {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    min-height: 630px;
  }

  .buttonsProfile {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    align-items: center;
    align-self: center;
    top:400px;
  }

  .infoHolder {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .pastOrders2 {
  
    /* position: relative; */
    margin-right:20px;
    /* height: 480px; */
    display: flex;
    /* align-self: center;
    align-items: center; */
    flex-direction: column;
  }

  .InfoBlock2 {
    width: 160px;
    height: 70px;
    /* margin: 20px; */
    background: #D9D9D9;
    color:#434169;
    position: relative;
    /* bottom:40px; */
    border: 1px solid #000000;
    border-radius: 4px;

    align-self: center;
  }

  .optionBlock2 {
    color:#434169;
    width: 200px; 
    height: 150px;
    margin: 15px;
    margin-top: 0;
  
    /* height: 260px; */
  
    background: #DCD5CB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: 'Signika', sans-serif;
    border-radius: 16px;
   
    cursor: pointer;


    display: flex;
    flex-direction: column;
    align-self: center;
    position:relative;
  }
  .optionBlock2:hover {
    filter: drop-shadow(4px 4px 4px rgba(252, 252, 252, 0.5));
  }

  .textBox {
    width: 180px;
    height:30px;
    text-align: center;
    align-self: center;
  }

  .rowPt4 {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    height:440px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* background-color: #2D3639; */
    background: #DCD5CB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: 'Signika', sans-serif;
    padding:20px;
  }

  .columnProf {
    width: 240px;
    height: 300px;
    
    background: #D9D9D9;
    color:#434169;
    font-family: 'Signika', sans-serif;
    border: 1px solid #000000;
    border-radius: 4px;
    position: relative;
    top:20px;
    left:0px;
  

    align-self: center;
  }

  .noMarg {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .noMarg2 {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  #passwordInput {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: none;
    background: #D9D9D9;
    color:#434169;
    font-family: 'Signika', sans-serif;
    border: 1px solid #000000;
    border-radius: 4px;
    font-weight: 400;
  
    text-align: center;

    color:white;
  }


  .rowPt5 {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* background-color: #2D3639; */
    background: #D9D9D9;
    color:#434169;
    font-family: 'Signika', sans-serif;
    border: 1px solid #000000;
    padding:20px;
  }

  .containerCard {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }



  .tableBody {
    overflow: scroll;
    max-height: 370px;
    border: 1px solid #000000;
    
    border-radius: 4px;
  }


