.card {
  width: 180px;
  height: 350px;
  margin: 43px;
  margin-bottom: 30px;
  background: #DCD5CB;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
  font-family: 'Signika', sans-serif;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
    
}

.card:hover {
  filter: drop-shadow(4px 4px 4px rgba(252, 252, 252, 0.5));
  
}

.popup-content {

    margin: auto;
    background: white;
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

.button {
  border-radius: 5px;
  text-decoration: none;
  cursor:pointer;
  border:none;
  font-size: 1em;
  font-weight: normal;
  color:black;
  margin: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  width: 170px;
  box-shadow: 0 0 5px #eee;
  background-image: linear-gradient(to right, #f07177 0%, #E50914 51%, #f07177 100%);
  background-size: 200% auto;

}

.button:hover {
background-position: right center;
}


 .flippedSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height:300px; */
 }

 .back {
  margin-top: 10px;
  margin-right:160px;
 }

 .image {
  width:200px;
  height:auto;
 }

 .movInfo {
display: flex;
flex-direction: row;
position: absolute;
bottom:60px;
 }

 .genre {
  font-family: 'Anonymous Pro', monospace;
  width: 160px;
  height: 240px;
  position: absolute; 
  bottom: 55px;
  left:9px;
  background: #D9D9D9;
  border: 1px solid #000000;
  border-radius: 4px;

 }


 .dark {
  color:#2D3639;
  margin-top: -3px;
  
 }

 .top {
display: flex;
position:absolute;
font-size: x-small;
border: 1px solid black;
margin:0;
padding:2px;
 }




.genre2 {
font-size: small;
margin-top: -5px;
}

.comingSoonTitle {
  text-transform: uppercase;
  font-family: 'Signika';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
text-align: center;

color: #434169;
}

.comingSoonTitleBack {
  text-transform: uppercase;
  font-family: 'Signika';
font-style: normal;
font-weight: 300;
font-size: 12px;
width:170px;
/* line-height: 30px; */
text-align: center;

color: #434169;
}


.imageComing {
  position:absolute;
  right:0px;
  bottom:0px;
  width:180px;
  height:auto;
  border-radius: 0px 0px 16px 16px;
}


.cate2 {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  /* line-height: 16px; */
  /* identical to box height */
  text-align: center;
  
  color: #434169;
}

.ans2 {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  /* line-height: 16px; */

  /* identical to box height */
  text-align: center;
  
  color: #434169;
}

.line2 {
position: absolute;
left: 43px;
width: 72px;
border: 0.5px solid #434169;

}

.descriptionSpace {
  left:6px;
  width:152px;
  position:absolute;
}

.genreSpace {
 padding-top: 1px;
}

.cardButtons {
  display: flex;
 
  position:absolute;
  bottom:0;
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}